body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F9FF;
    min-width: 600px;
    text-align: center;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;
    background-color: #38BDF8;
    border: 1px solid #38BDF8;
    color: aliceblue;
    font-weight: bold;
    margin: 2px;
    margin-top: 10px;
}

#input2-btn {
    background-color: whitesmoke;
    color: #38BDF8;
}

body ul {
    list-style: none;
    padding-left: 0%;
    margin-top: 20px;  
}

ul li {
     margin-top: 2px;  
}

li a {
    color: #38BDF8;
}